body {
  background-color: #beeef7;
}

/* date slider */

.dateSection {
  width: 300px;
  margin: auto;
  text-align: center;
  position: relative;
  height: 6em;
}

.dateSection input[type='range'] {
  position: absolute;
  left: 0;
  bottom: 0;
}

.dateSection input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
}

.dateSection input[type='range']:focus {
  outline: none;
}

.dateSection input[type='range']:focus::-webkit-slider-runnable-track {
  background: #2497e3;
}

.dateSection input[type='range']:focus::-ms-fill-lower {
  background: #2497e3;
}

.dateSection input[type='range']:focus::-ms-fill-upper {
  background: #2497e3;
}

.dateSection input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animation: animate 0.2s;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}

.dateSection input[type='range']::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

/* calendar dropdown */
.dayAbbreviation div {
  width: 14%;
  font-weight: bold;
}

.notThisMonth {
  color: rgba(0, 0, 0, 0.3);
}

.selectedDate {
  transform: scale(1.3);
  background: rgb(56, 182, 255);
  transition: 0.5s;
  z-index: 1;
}

.show {
  display: flex;
  position: relative;
  z-index: 5;
  background: white;
}

.hide {
  display: none;
}

.throughDate {
  background: rgb(163, 219, 255);
  border: none;
  transform: scale(1.05);
}

/*  Option */
.toggleSwitch[type='checkbox'] {
  height: 45px;
  width: 160px;
  background-color: #ebebeb;
  -webkit-appearance: none;
  outline: none;
  border-radius: 40px;
  -webkit-box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55),
    10px 10px 15px rgba(70, 70, 70, 0.12), inset -10px -10px 15px rgba(255, 255, 255, 0.55),
    inset 10px 10px 15ox rgba(70, 70, 70, 0.12);
  box-shadow: -10px -10px 15px rgba(255, 255, 255, 0.55), 10px 10px 15px rgba(70, 70, 70, 0.12),
    inset -10px -10px 15px rgba(255, 255, 255, 0.55), inset 10px 10px 15px rgba(70, 70, 70, 0.12);
  border: 5px solid #ebebeb;
  transition: 0.3s;
  position: absolute;
  margin-top: 45vh;
  margin-left: 1vw;
}
.toggleSwitch:checked[type='checkbox'] {
  border: none;
  height: 45px;
}
.toggleSwitch[type='checkbox']:before {
  width: 42px;
  height: 42px;
  background-color: #fff;
  content: '';
  position: absolute;
  border-radius: 50%;
  transform: scale(1.3);
  transition: 0.3s;
  box-shadow: inset -2px -2px 6px #e3e3e3;
}
.toggleSwitch:checked[type='checkbox']::before {
  right: 1px;
  bottom: 1px;
  box-shadow: inset -5px -2px 16px #222;
  height: 42px;
}
.smokingToggle:checked[type='checkbox']::before,
.smokingToggle:checked[type='checkbox'] {
  background-color: #f49f00;
}
.bedToggle:checked[type='checkbox']::before,
.bedToggle:checked[type='checkbox'] {
  background-color: #012e87;
}

/* button */
.button {
  position: relative;
  display: flex;
  width: 160px;
  height: 40px;
  color: black;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 2.5vmin;
  text-transform: uppercase;
  line-height: 25px;
  letter-spacing: 0.3vmin;
  margin: auto;
  padding: 3vmin 5vmin;
  transition: 0.3s;
  border: 3pt solid black;
  font-weight: 600;
}

.findRoomBtn {
  background-color: #2497e3;
}

.webOrdersBtn {
  background-color: #4cbbb9;
}

.button:hover {
  background: #a2a2a2 url('./components/images/pixelBlock.png');
  background-color: #a2a2a2;
  transition-delay: 0.8s;
  border: 3pt solid black;
  transform: scale(1.2);
  background-size: 160px;
  animation: animate 0.8s steps(8) forwards;
}

@keyframes animate {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}
/* table */
.tableRow:nth-child(odd) {
  background-color: lightgray;
}

.reserveBtn:hover {
  transform: scale(1.2);
}
